
@{
    ViewBag.Title = "Home Page";
}


<!-- Home Content -->
<div class="home-content">
    <!-- Logo -->
    <div class="home-logo">
        <img src="~/Content/images/TheatreLogo.png" alt="Theatre Vertigo Logo">
    </div>

    <!-- Main Columns -->
    <div class="main-columns">
        <!-- Left Column -->
        <div class="left-column">
            <div class="spotlight">
                <h3>SPOTLIGHT</h3>
                <img src="~/Content/images/DollsHouse.png" alt="A Doll's House">
                <img src="~/Content/images/Tempest.png" alt="The Tempest">
            </div>
        </div>
        <!-- Right Column -->
        <div class="right-column">
            <div class="donations">
                <h3>DONATIONS</h3>
                <button class="donations-btn">Click to Support</button>
            </div>

            <div class="sponsors">
                <h3>SPONSORS</h3>
                <div class="sponsors-container">
                    <div class="row1">
                        <img src="~/Content/images/Sponsors/LogoRoundColor.png" alt="Sponsor 1">
                        <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" alt="Sponsor 2">
                    </div>
                    <div class="row">
                        <img src="~/Content/images/Sponsors/RACC.png" alt="Sponsor 3">
                    </div>
                    <div class="row">
                        <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" alt="Sponsor 4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of columns -->

    <!-- Acknowledgement section -->
    <div class="land-acknowledgement">
        <div class="land-text">
            <h3>LAND ACKNOWLEDGEMENT</h3>
            <p>
                Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional
                tribal lands of the Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin,
                Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated Tribes of
                the Grand Ronde and other indigenous peoples.<br><br>
                <strong>We are on stolen land.</strong><br><br>
                Theatre Vertigo has been and continues to examine our community relationships to ensure
                our collaborators, partners, and sponsors support the region's Indigenous Nations and communities.<br><br>
                One of the ways Theatre Vertigo is working to act on our commitment to being of service
                to the lands that we now share is to build bridges between our arts community and local Nations.
            </p>
        </div>
        <div class="land-link">
            <a href="https://nayapdx.org/" target="_blank">
                <img src="~/Content/images/NAYAFamilyCenter.jpg" alt="NAYA Family Center">
            </a>
            <p>Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities.</p>
        </div>
    </div>
</div>


 






@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
     <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@